[2021-01-22 08:34] morarucostel opened #2 "Extending the Helm chart configuration"
Creating a new item to track the differences between our [chart](https://github.com/boomerang-io/charts/tree/main/bmrg-auth-proxy) and this one and hopefully incorporate them here.

## Expected Behavior

I believe there are 3 main differences which can be added in this one:
**1. We can set the 'authenticatedEmailsFile' as a secret or configmap, depending on what mechanism is wanted.**
[code]

**2.

[2021-01-22 22:50] tlawrie commented on #2
Thanks @morarucostel and for discussion this week.

@JoelSpeed what are your thoughts? Im fully for merging in the secret for merging in all 3 of these items which are differences from our chart. But thats because @morarucostel and I work together on the other chart so an outside perspective is probably needed.

[2021-02-02 09:43] SeWieland opened #6 "Adding the chart repository"
I would really like to switch over from the old stable repository and try this one.
However, I couldn't find the right URL in the docs in order to add the repo using `helm repo add`.

[2021-02-04 08:44] erkannt commented on #6
Once we get the chart releaser action to actually release the chart (it's doing my head in why it isn't working yet) the url will be:

https://oauth2-proxy.github.io/manifests/oauth2-proxy

@JoelSpeed I'll investigate what is still going wrong this evening and make a PR to add the url to the readme.

[2021-02-04 13:52] morarucostel commented on #2
I can contribute back to this helm chart with the above changes, if you think is worth doing it @erkannt, @JoelSpeed .

[2021-02-04 16:17] SeWieland commented on #2
@morarucostel the redis subchart is a pretty nice feature I think :+1:
However I would not recommend making the cookie name dependant on the release name by default.
I use one ingress-nginx configured with oauth2_proxy for auth for all http traffic to many different backend services across namespaces as a standard setup (and I suppose others do so as well).
As can be read in the [docs](https://oau

[2021-02-05 09:27] erkannt commented on #6
Good catch. That should be fixed by https://github.com/oauth2-proxy/manifests/pull/5

@JoelSpeed could you please merge that one?

[2021-02-05 14:05] morarucostel commented on #2
@SeWieland thanks for the feedback.

Actually, your scenario is very much similar to ours. The different being that we have multiple oauth2-proxy instances using one single ingress controller to many different backend services.

Actually I don't see difficulties in what I'm suggesting to your use-case. As in the docs, the ingress definition example is already tied-up with the oauth2-proxy instance

[2021-02-05 16:19] erkannt commented on #2
Happy to lend a set of eyeballs to any PR. Currently we should only be a merge away from having a live helm-release here. :crossed_fingers:

The merge #5 only affects the release pipeline so if you start working on a PR there shouldn't be any merge conflicts arising.

[2021-02-05 21:47] tlawrie commented on #2
Thanks @erkannt I think that would be good.

Hey @morarucostel, thanks for driving this forward. How about we do a separate PR for each one of the changes...? let me know if you want me to submit any of it!

[2021-02-06 15:44] JoelSpeed commented on #2
1 and 2 definitely seem useful to me, not sure about 3 though.

To me, I would expect most people to set their cookie name to something non default anyway, is that not the case?

[2021-02-06 16:09] JoelSpeed commented on #6
@erkannt the latest fix did not work and we still don't have a release.

I had a play with the chart releaser script from the action and I think the issue is the chart_dir being prefixed with `./`, ie we use `./helm` but should just use `helm`.

When the release script looks up the files that have changed, it uses `git diff` which does not prefix the changed files with `./` (you can tell by runnin

[2021-02-08 08:56] erkannt commented on #6
My bad. `ct.yaml` is for the `chart-tester`, the `chart-releaser` doesn't use it...

Given my track record I'm going to spend some time testing this more thoroughly on a fork.

[2021-02-09 08:56] erkannt commented on #6
New PR #8 should hopefully give us a release. You can find my experimentation in the fork https://github.com/erkannt/manifests

[2021-02-09 12:05] SeWieland commented on #6
🎉 I think that worked - thanks a lot!
The chart repo url to use seems to be [https://oauth2-proxy.github.io/manifests](https://oauth2-proxy.github.io/manifests/index.yaml) :)

[2021-02-09 15:36] morarucostel commented on #2
I've pushed 3 PRs for the 3 topics: #9 , #7 and #10 .

[2021-02-15 11:05] #6 closed

[2021-02-16 10:09] pollier opened #12 "Upgrade app version to 7.X"
Chart currently deploy version 5.1.1 of the app,
Looking at the main repo release manifests there is at least 2 CVE that were fixed since 5.1.1 (https://github.com/oauth2-proxy/oauth2-proxy/security/advisories/GHSA-5m6c-jp6f-2vcv & https://github.com/oauth2-proxy/oauth2-proxy/security/advisories/GHSA-4mf2-f3wh-gvf2) updating the version deployed by the chart would be nice.

I've tried just bumping

[2021-02-16 10:12] SeWieland commented on #12
Yes! I'm already running this chart and am using imageTag: 7.0.1 without issues as well :)

[2021-02-16 11:30] aiciobanu opened #13 "htpasswd-file template should be renamed to reflect the type of k8s resource it creates"
`configmap-htpasswd-file.yaml` name states that the k8s resource will be of type `ConfigMap`

## Expected Behavior
The name of the template should reflect the k8s resource type it creates

## Current Behavior
The name suggests that a `ConfigMap` will be created, but instead it creates a `Secret` -> https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/templates/configmap-htpasswd-f

[2021-02-17 14:20] rye-freedom opened #14 "Helm Error Adding Repo - Not a Valid Chart Repository or Cannot Be Reached"
I would like to use this helm chart as it seems to be the official chart for oauth2-proxy. When attempting to add the oauth2-proxy repo as described in the README, the following error occurs: `Error: looks like "https://oauth2-proxy.github.io/manifests" is not a valid chart repository or cannot be reached: Get "https://oauth2-proxy.github.io/manifests/index.yaml": tls: first record does not look l

[2021-02-17 15:58] SeWieland commented on #14
Are you sure there is no firewall blocking the request?
[code]

You can as well check that it is a valid repository by appending `/index.yaml` to the URL. That is everything what is required according to the [docs](https://helm.sh/docs/topics/chart_repository/#the-chart-repository-structure)

=> https://oauth2-proxy.github.io/manifests/index.yaml works fine for me

[2021-02-17 16:11] rye-freedom commented on #14
I'm pretty sure firewall isn't an issue. I have many other repos added without issue.

[code]

This is also what I am seeing when navigating to [https://oauth2-proxy.github.io/manifests/index.yaml ](https://oauth2-proxy.github.io/manifests/index.yaml )

![image](https://user-images.githubusercontent.com/42525515/108232351-aebd7780-7110-11eb-81a2-4f05f3b3c8c9.png)

[2021-02-17 17:03] SeWieland commented on #14
That is a very strange SSL issue, because <oauth2-proxy.github.io> is part of the github.com certificate itself (secures all DNS-records for *.github.io as well) and you can obviously establish a SSL connection to github.com.
So IMHO this seems to be related to you local setup somehow (proxy issues?).. Are you able to access the URL from a different device in another network?

[2021-02-17 17:22] rye-freedom commented on #14
Yes that is what I figured as well. I just tried accessing on my personal computer which for sure doesn't have any proxy or firewall configs that would block, and same issue, both adding the repo to helm and accessing the [index.yaml](https://oauth2-proxy.github.io/manifests/index.yaml) page.

[code]

![image](https://user-images.githubusercontent.com/42525515/108242116-8cc8f280-711a-11eb-9a29-28b

[2021-02-17 23:15] rye-freedom commented on #14
Just wanted to follow up on this. I got this working. The issue was actually with my ISP provided gateway (Xfinity) and their "Advanced Security" setting. Haven't had an issue up until now. As soon as I disabled this setting on the gateway, everything worked as it should. Sorry for the trouble and thanks for the quick response and help!

Closing with this comment.

[2021-02-17 23:15] #14 closed

[2021-02-18 18:11] Ghazgkull opened #15 "Chart documentation?"
I appreciate the effort everyone put in to save this chart from the deprecated Stable chart repo.

Is the documentation for this chart available somewhere? As clients, should we continue to use the documentation (README.md) in the Stable repo? Or is the documentation for this new chart available somewhere else?

[2021-02-18 18:12] Ghazgkull commented on #15
Nevermind. I found that it's just in a folder. :-D

[2021-02-18 18:12] #15 closed

[2021-03-01 00:34] pollier commented on #12
I've done the change required in this PR https://github.com/oauth2-proxy/manifests/pull/18

[2021-03-26 10:03] morarucostel commented on #2
Thank you @JoelSpeed @erkannt @tlawrie for the support in driving the changes. We can close this issue, all 3 PRs werer merged into main.

[2021-03-26 10:17] #2 closed

[2021-03-29 09:44] desaintmartin opened #23 "Membership for @desaintmartin"
Hey guys,
Could you add me to the project so that I can review some PRs?
Thanks!

[2021-04-13 09:58] lathspell opened #24 "Not published to https://artifacthub.io"
If I go to https://helm.sh and click on Charts, it leads me to Artifacthub where I cannot find the Helm chart from this repo, only one from "k8s@home" which has at least some stars.
(try https://artifacthub.io/packages/search?page=1&ts_query_web=oauth2+proxy&kind=0)

Is there a reason why this chart is not available there?

[2021-04-21 08:25] pierluigilenoci opened #26 "Upgrade redis subchart to the latest version"
Now the chart uses a really old Redis chart. Could be nice to upgrade it to the latest version. Thanks.

[2021-04-21 08:26] pierluigilenoci commented on #26
@erkannt could you please take a look?

[2021-04-21 08:30] pierluigilenoci commented on #24
@erkannt could you please take a look?

[2021-04-21 08:30] pierluigilenoci commented on #23
@erkannt could you please take a look?

[2021-04-22 07:46] erkannt commented on #23
I am not an owner of the repo, so I can't change any settings regarding this.

@JoelSpeed can you please take a look? Maybe something to add to the readme on how to contribute/who to contact?

[2021-04-22 09:15] JoelSpeed commented on #23
I think this is done now?

[2021-04-22 13:53] desaintmartin commented on #23
Indeed, thanks to https://github.com/oauth2-proxy/manifests/pull/22! Closing.

[2021-04-22 13:53] #23 closed

[2021-04-30 07:59] erkannt commented on #24
Neither a dev or owner of oauth2 :]

@joelspeed I think this would be a good thing to do. The communication by Helm is that with the EOL for helm/stable they see Artifacthub as the place for helm charts to be discovered.

There are some steps to get the Chart marked as _verified_ and _official_. I don't think I can really help with this, as it ideally needs to be done by the 'owners' of the packag

[2021-05-01 10:43] JoelSpeed commented on #24
Yeah this seems like a reasonable thing to do, not sure if I'll have time in the near future but perhaps one of the other @oauth2-proxy/manifest-maintainers will

[2021-05-25 16:44] cvockrodt opened #31 "Helm Chart - ServiceAccount name ignored"
### Problem
The [serviceaccount template](https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/templates/serviceaccount.yaml) ignores the value from `serviceaccount.name` and uses the fullname template:

[code]

### Expected Behavior
If `serviceaccount.name` is set and `serviceaccount.enabled`=`true`, the serviceaccount in use matches the one that's created.

[2021-05-25 16:52] desaintmartin commented on #24
Pushed artifacthub-repo.yml to gh-pages.

[2021-05-28 06:37] desaintmartin commented on #24
![Screenshot 2021-05-28 at 08 37 13](https://user-images.githubusercontent.com/38929/119940759-efd6ea80-bf8f-11eb-9e9b-01a9afcdf109.png)

[2021-05-28 06:37] #24 closed

[2021-05-28 11:50] robin-wayve commented on #12
@desaintmartin this can now be closed I think? 🎉

[2021-05-28 12:01] desaintmartin commented on #12
Indeed! Closing.

[2021-05-28 12:01] #12 closed

[2021-06-01 15:25] holmesb opened #35 "Ingress apiVersions will be obsolete shortly"
Hi

Ingress apiVersions: [extensions/v1beta1 & networking.k8s.io/v1beta1](https://github.com/oauth2-proxy/manifests/blob/24ced0a77e4fd38e6ba8080f2eb85b89a4980528/helm/oauth2-proxy/templates/ingress.yaml#L7) are [deprecated](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122) and will fail to deploy in the next version of Kubernetes (v1.22 - Aug 2021).  Should be replace

[2021-06-18 10:11] holmesb opened #38 "TLS doc error"
Hi,

[TLS documentation](https://github.com/oauth2-proxy/manifests/blob/9b075555cb1dba81738d2bf811ce3aa7bb1c4bcd/helm/oauth2-proxy/README.md#tls-configuration) has wrong tls key names.  Should be [tls-cert-file and tls-key-file](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/tls/), not tls-cert and tls-key.

[2021-06-24 13:32] #35 closed

[2021-07-01 09:36] pierluigilenoci commented on #38
@holmesb would you like to do a PR to solve?

[2021-07-01 09:38] pierluigilenoci commented on #31
There is already a PR to fix this issue (#39)

[2021-07-01 09:38] pierluigilenoci commented on #13
@aiciobanu would you like to do a PR to solve?

[2021-07-01 12:45] pierluigilenoci commented on #31
Fixed by #39

[2021-07-01 12:45] #31 closed

[2021-07-05 15:25] morarucostel opened #44 "Extend configuration for "configaccesslist" under the key "restricted_user_access""
**Problem:**
When using the authenticatedEmailsFile's configaccesslist option stored either as a configmap or a secret, the key under which the values are stored is hard coded to `restricted_user_access`.
Applications that is already built and uses another key to store the email list can not access the values.

**Solution:**
Configure the key `restricted_user_access` in the deployment and in the c

[2021-07-05 15:25] morarucostel commented on #44
The change is quite minor, will not take too much to change the helm chart.
I can push a PR in the next days.

[2021-07-07 08:49] lathspell opened #47 "ConfigMap for --custom-templates-dir?"
oauth2-proxy has the cli option `--custom-templates-dir` to set the name of a directory in which the HTML templates for e.g. the error page is.

In Kubernetes this would probably be solved using a config map with one entry per HTML file which is mappted into a folder.

This does need some support from the Helm chart though. Probably similar to `configmap-authenticated-emails-file.yaml`.

[2021-07-07 10:26] pierluigilenoci commented on #47
Would you be kind enough to do a PR?

[2021-07-27 07:36] morganchristiansson commented on #13
htpasswd contains password hashes so secret is probably correct type for it

[2021-08-03 06:01] czunker opened #51 "Ingress has wrong API version with k8s 1.19"
Applying chart version 4.1.0 on k8s 1.19 results in the wrong API version for the Ingress object:
[code]
instead of
[code]

With chart version 4.0.2 it works as expected.

This is the commit which changed the behavior: https://github.com/oauth2-proxy/manifests/commit/9ef089b45922650840cdf4c44842c7a2e9691151#diff-d2ec12fa131797b240c1ae945cb0fb458d289bca1759b6839a219928860baad2

There was already so

[2021-08-03 21:44] pierluigilenoci commented on #51
@czunker feel free to do a PR to correct the problem.

[2021-08-12 06:58] latituder opened #54 "How to use this HELM chart to set other oauth2 Provider?"
It seems this HELM chart use google as the default oauth2 provider.
Would it possible to specific other oauth2 provider in the values.yaml?
e.g: to use generic OIDC provider?

[2021-08-12 08:17] pierluigilenoci commented on #54
@latituder you need to configure the proper provider with `--provider` option:
Ref: https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/
Ref: https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/oauth_provider/

The configuration must be passed to the chart with the `extraArgs`:
Ref: https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/values.yaml#L45

[2021-08-13 06:15] latituder commented on #54
THANK YOU!
the `extraArgs`  options resolved the question.

[code]

[2021-08-13 06:15] #54 closed

[2021-08-20 12:11] u-phoria commented on #47
In case it helps anyone, I was able to achieve something similar by making use of `extraVolumes` / `extraVolumeMounts` to mount a pre-created `configMap` with file content, as suggested.

This then allowed standard `configFile` settings such as `custom_sign_in_logo` to reference mounted content. Should work for custom sign-in and error pages via `custom_templates_dir` too.

[2021-08-30 19:01] lgthibault opened #57 "Add support for setting hostAlias (useful when deploying oauth2-proxy on premise)"
I would like to suggest a PR for https://github.com/k8s-at-home/charts/issues/932, so I'm opening the same issue here.

Original issue:
On premise installation we would like to set hostAlias to the pod. Using oauth2-proxy-5.0.5 we can add the config to pod:
![120691727-d1339080-c474-11eb-85be-31cea62bb6d1](https://user-images.githubusercontent.com/14924832/131390748-1f49d8ee-3925-42be-9bad-9fdc121

[2021-09-13 12:09] #51 closed

[2021-09-22 17:43] holmesb opened #59 "Anyone got redis working?"
According to my testing, redis doesn't work using this helm chart because oauth2-proxy pod fails to start due to error:

[code]

Fixed by manually editing the deployment and adding [command-line option](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/#command-line-options): `--redis-password <your redis password>`.  This chart currently does not support this switch.

[2021-09-22 18:03] morganchristiansson commented on #59
So you could just specify the following values.yaml

[code]

[2021-09-22 19:14] #59 closed

[2021-10-01 12:13] gmenuel opened #60 "Unable to use ingress v1 on GKE"
On GKE, and probably other kubernetes versions, the semver returned by .Capabilities.KubeVersion.Version contains a prerelease string (eg the version could be : v1.20.9-gke.1001). In Helm doing a semverCompare ">= v1.19.0" "v1.20.9-gke.1001" will be false, because semverCompare considers prerelease to be invalid if the version constraint doesn't include a prerelease (see https://github.com/Masterm

[2021-10-01 12:24] pierluigilenoci commented on #60
Thank you @gmenuel, feel free to make a PR with this fix.

[2021-10-01 14:49] #60 closed

[2021-11-11 13:44] pierluigilenoci commented on #44
@morarucostel can this ticket be closed now?

[2021-11-14 20:17] rlacko58 opened #67 "Add support for custom Container SecurityContext"
Problem:
Currently you can't define a custom `securityContext` for a container.
This is a problem because you can't set for example `allowPrivilegeEscalation` or `capabilities` to the pod. ([Documentation](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/))
https://github.com/oauth2-proxy/manifests/blob/7089e0ec39ed44dc27e0df25c23dd15d1b6a06b9/helm/oauth2-proxy/templates/d

[2021-11-15 10:07] pierluigilenoci commented on #67
@rlacko58 would you like to do a PR to solve?

[2021-11-15 10:43] pierluigilenoci commented on #38
@holmesb is this still a problem for you?

[2021-11-15 10:43] pierluigilenoci commented on #13
@aiciobanu is this still a problem for you?

[2021-11-15 10:44] pierluigilenoci commented on #47
@lathspell is this still a problem for you?

[2021-11-15 10:52] lathspell commented on #47
@u-phoria 's solution sounds like a good workaround

[2021-11-15 11:09] pierluigilenoci commented on #47
@lathspell so how do we want to continue?

[2021-11-25 21:10] nbraun-wolf commented on #59
@morganchristiansson  If we have to set the password like this, what is the purpose of the value `sessionStorage.redis.password` ?

[2021-11-25 21:30] nbraun-wolf commented on #59
I figured out that its because of the old version of the redis chart. See #26.

With 10.6.0 we have to use `redis.password`.

[2021-11-26 12:21] SeWieland opened #70 "missing CHANGELOG.md"
I know there is a changelog in the actual oauth2-proxy repository, however I think it would be beneficial to have a changelog for the chart as well, since it is versioned separately.

[2021-12-02 10:02] pierluigilenoci commented on #70
@SeWieland make sense

[2022-02-01 17:04] WorkAlexGahr commented on #26
Dear all is there any possibility of a progress on this?
Seems the current redis SubChart has issues when we set a password.

auth:
  password: ""
  existingSecret: ""
  existingSecretPasswordKey: ""

Seems the redis subchart also renders incorrect when we set a pwd on a local mashine.
The new charts for redis render without issues.

[2022-02-05 01:17] coy2k opened #78 "redis.existingSecret doesn't take effect when redis.password is set to empty string"
Can't use an existingSecret for redis session storage in order to set OAUTH2_PROXY_REDIS_PASSWORD when the password has a empty string assigned.

Doesn't work:
[code]

Works:
[code]

Fix suggestion:
[code]

[2022-02-07 10:01] pierluigilenoci commented on #26
@WorkAlexGahr I tried to prepare a PR in the past (https://github.com/oauth2-proxy/manifests/pull/34) but I didn't find the time to finish it. 😞

Feel free to open a new one but please read all the comments in the previous one. 👍🏻

[2022-02-07 10:52] pierluigilenoci commented on #78
@coy2k could you please open a PR to propose your solution?

[2022-02-07 11:31] #67 closed

[2022-02-07 17:00] #57 closed

[2022-02-10 15:51] chuegel opened #80 "helm chart configuration option naming convention mismatch"
Hi,
first thanks for providing the helm chart for this awesome project.
I noticed that the latest helm chart does not reflect the naming convention of the official configuration options

see:  https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/

for example:

--whitelist-domain =! --whitelist_domains
--email-domain =! --email_domains
etc

## Expected Behavior
To be able to use

[2022-02-11 08:24] pierluigilenoci commented on #80
@chuegel the options you use as an example are absolutely legitimate.

The documentation explicitly says:
`Every command-line argument can be specified in a config file by replacing hyphens (-) with underscores (_). If the argument can be specified multiple times, the config option should be plural (trailing s).`

For example, when you need to specify more than one email domain there are two ways:

[2022-02-11 08:24] #80 closed

[2022-02-14 09:08] pierluigilenoci commented on #26
Fixed with https://github.com/oauth2-proxy/manifests/pull/79

[2022-02-14 09:08] #26 closed

[2022-02-14 09:09] pierluigilenoci commented on #70
@SeWieland do you want to open a PR for this?

[2022-02-14 09:10] pierluigilenoci commented on #47
@lathspell so?

[2022-02-14 09:10] pierluigilenoci commented on #13
@aiciobanu so?

[2022-02-14 09:10] pierluigilenoci commented on #38
@holmesb so?

[2022-02-14 09:11] pierluigilenoci commented on #44
@morarucostel so?

[2022-02-14 09:11] #44 closed

[2022-02-14 09:12] pierluigilenoci commented on #44
Closed with #45

[2022-02-14 10:33] lathspell commented on #47
u-phoria's solution is fine for me, you can close the issue.

[2022-02-14 10:43] #47 closed

[2022-02-15 21:26] bluebrown commented on #78
I just discovered the same and was about to open an issue for my PR. I am using this issue instead.

[2022-02-15 22:19] #78 closed

[2022-02-15 23:28] bluebrown opened #82 "redis standalone url is not correctly computed"
Currently, the redis url is computed based on the helper `oauth2-proxy.fullname`. This works only if the release name is the chart name.  Actually, redis does not respect this helper. It will compute its name based on `fullnameOverride`, `nameOverride` and `.Release.Name`, as it can be seen [here](https://github.com/bitnami/charts/blob/41abb9a7e89bc3db0df7064348fda7eff0c408a4/bitnami/common/templa

[2022-02-16 09:46] bluebrown opened #84 "use redis subchart pwd secret if no existing secret or password was set"
It would be nice that when the redis subchart is enabled and has auth enabled, the password would be read from the secret that is created by the redis subchart.

This would remove the need to set the password twice or reference the secret which name is dependent on the release name. It would make the integreation with redis more straight forward and should work out of the box for most use cases.

[2022-02-16 09:50] pierluigilenoci commented on #84
@bluebrown feel free to open a PR.

[2022-02-21 10:32] #82 closed

[2022-02-21 13:49] endakelly opened #86 "Service targetPort incorrect"
When creating a helm release from this chart, the upstream service doesn't load at all unless the service targetPort is edited. My httpScheme value is set to https. To get the static upstream page to work, I have to edit the service and change the targetPort from https to 4443.

After this, the page loads successfully.

**Before:**

ports:
  - name: https
    nodePort: 31936
    port: 443
    prot

[2022-02-21 19:56] bluebrown commented on #86
Where does this port name even come from in the first place? I cannot find it i[n the chart](https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/templates/service.yaml). What version of the cart are you using?

Service has those ports:

[code]

The value for `httpScheme` is http, and it points to `service.portNumber` which is 80 by default.

[2022-02-22 06:11] pierluigilenoci commented on #86
@endakelly feel free to open a PR.

[2022-02-22 13:03] endakelly commented on #86
@pierluigilenoci I tried to push a new branch and create a PR but I don't seem to have permission.

@bluebrown further to my initial comments, in my config the https-address is set to ":4443". If I change this to ":443" then I get a CrashLoopBackOff error when starting the pod. The container port remains 4180 and I haven't had a need to alter it.

[2022-02-22 13:10] bluebrown commented on #86
@endakelly you need to fork the repo and create the branch there and make the PR from there.

Regarding the container port. Target is effectively the container port.  I still don't really understand your setup. How can you have the container port set to 4180 but have it working when the service targets 4443? This port should not be exposed at all, even though you may have configured it in your con

[2022-02-22 13:15] bluebrown commented on #86
I am talking about this https://github.com/oauth2-proxy/manifests/blob/03ad9c3dfa6ccf52557a60ac9261a30afcf15a6e/helm/oauth2-proxy/templates/deployment.yaml#L150

The name for that port will be whatever you write in your scheme. But no other port is used, regardless what you have in your config.

Can you show you config? How did you set the port to 4443?

[2022-02-22 14:06] endakelly commented on #86
PR submitted https://github.com/oauth2-proxy/manifests/pull/89

Here is the bulk of my config: https://github.com/hmcts/sds-flux-config/blob/master/k8s/namespaces/admin/oauth2-proxy/oauth2-proxy.yaml

Here is some of the config I'm using: https://github.com/hmcts/sds-flux-config/blob/master/k8s/namespaces/admin/oauth2-proxy/oauth2-proxy.yaml
There's some missing args from that config currently. I'

[2022-02-22 14:09] bluebrown commented on #86
How does this change the hard coded port 4180? I can't imagine this works. If you just change the target port to something and kubernetes is not publishing this port on the container, it cant work.

[2022-02-22 14:27] endakelly commented on #86
OK I see. I was updating the service targetPort to 4443 without changing the containerPort. Updating the containerPort to 4443 while keeping the service targetPort also makes the page load correctly.

I will update my PR with your suggestion in https://github.com/oauth2-proxy/manifests/issues/86#issuecomment-1047187412

[2022-02-22 14:27] endakelly commented on #86
As to why it works when changing the service targetPort to 4443, I don't have an answer to that

[2022-02-22 14:34] bluebrown commented on #86
IMO, both ports should be configurable. In the settings, oauth2-proxy has http and https port. The current implementation only supports http. Your PR supports overriding that. But I think both should be configurable and useable at the same time. At least it's a feature of oauth2-proxy itself to have both.

[2022-02-22 16:30] bluebrown commented on #84
3 pull requests. Im such a noob :(

[2022-02-22 20:16] bluebrown commented on #84
Next time I will just merge, then you have multiple commits. I tried squashing and force pushing, but it actually doesn't resolve merge conflicts, unlike a merge commit.

I would suggest that you squash merge the PR afterwards.

[2022-02-23 08:47] pierluigilenoci commented on #84
From my point of view, the important thing is goodwill and the final result.
I don't know what other people think but that's okay with me.
The next time will be better.

[2022-02-25 06:50] #84 closed

[2022-02-25 07:56] bluebrown commented on #70
There are two annotations fields in the chart.yaml which look interesting in this regard.
[code]

[2022-02-27 01:32] bluebrown opened #91 "use init container to wait for redis subchart if the subchart is enabled"
If the redis subchart is enabled, the oauth2-proxy pod crashes a few times before it starts on a fresh installation. This is because it cannot connect to the redis master pod.

An init container can be used to block the pod until redis-master-0 is ready.

[2022-04-21 06:42] artemiyokulov opened #96 "incorrect connectionUrl type"
In template expecting string https://github.com/oauth2-proxy/manifests/blob/oauth2-proxy-6.2.0/helm/oauth2-proxy/templates/deployment.yaml#L142

but in docs (https://github.com/oauth2-proxy/manifests/tree/main/helm/oauth2-proxy) descibed as a list

[2022-04-25 09:24] pierluigilenoci commented on #96
@artemiyokulov would you like to open a PR to solve it?

[2022-05-10 03:45] lnvn opened #98 "Question: Can we injectResponseHeaders for each upstream with alpha-config?"
I have a question that: can we injectResponseHeaders for each upstream like NGINX (location).

## Expected Behavior

    injectResponseHeaders:            #for all upstream service
      - name: xxx
        values:
          - value: xxx
    upstreamConfig:
      upstreams:
        - flushInterval: 1s
          id: /
          passHostHeader: true
          path: /
          proxyWebSockets: true

[2022-05-17 14:18] zethis opened #101 "extraArgs need to be itemize"
extraArgs seems to be mandatory to be used with google provider.

It would be cool to have all the extraArgs details in the documentation:

Here is my configuration to have it working with k8s:

[code]

Plus:
I'm not able to have multi whitelist-domain entry with helm.
I'm not able to have multi hosts in ingress.

[2022-05-18 07:52] pierluigilenoci commented on #101
Feel free to open a PR.

[2022-06-09 06:33] devopstales opened #103 "Add networkpolicy"
I tried to use the oauth proxy in a cluster where networkpolicy is enabled. The pod can not start and not logging anything.

I have the fallowing policies:

[code]

[2022-07-20 14:55] albert0815 opened #104 "Using Kubernetes secret for alpha configuration provider client secret"
Hi,

When using alpha configuration it seems that using the "existingSecret" is not possible any more. As far as I understand we need to provide the secret of the client in plain text in the provider definition in the alpha configuration. Is this true?

Currently my configuration looks like similar to this:
[code]

I want to know whether it would be possible to use something like this:
[code]

If

[2022-07-21 12:19] pierluigilenoci commented on #104
I'm sorry but the chart currently doesn't work like that.
Ref: https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/templates/configmap-alpha.yaml#L14-L32

[2022-08-19 17:56] lexarflash8g opened #107 "Oauth2-proxy Helm chart w/ NGINX ingress controller to enable SSO for Prometheus"
How to configure Oauth2-proxy Helm chart values to work with AzureAD SSO for securing Prometheus endpoint.

Expected Behavior
Hitting Prometheus endpoint such as https://prometheus.mydomain.com/ should show splash page to use SSO with Oauth2-proxy to login to reach app.

Current Behavior
Oauth2-proxy Helm chart installed and configured with client_id and client_secret for Prometheus web app in Azu

[2022-08-24 07:09] albert0815 commented on #104
Thank you for your response and the reference. As far as I understand it might actually not be the chart structure itself which is making this impossible. Since alpha configuration is provided as a file into the oauth2-proxy this could only work if oauth2-proxy would allow resolving data in the configuration file itself from environment variables.

If we could pass in something like this into oaut

[2022-08-24 13:45] pierluigilenoci commented on #104
@albert0815 for my knowledge in Helm I don't think there is room to do as you want.
At least without overcomplicating the setup.

A possible solution is to load a configMap external to the chart.
Ref: https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/values.yaml#L52

Or using helm post-rendering
Ref: https://helm.sh/docs/topics/advanced/#post-rendering

Or passing `configData`

[2022-08-24 14:13] albert0815 commented on #104
Thank you for you quick feedback!

My suggested approach with that sample config was actually that the runtime application oauth2-proxy could resolve the enviroment variable after reading the configuration (e.g. by using viper to read the config file with AutomaticEnv enabled).

Regarding your suggested alternatives:

* Config Map / configData: As far as I understand this does not solve my origina

[2022-08-24 15:53] pierluigilenoci commented on #98
@newhorizs feel free to open a PR for that

[2022-08-24 16:11] pierluigilenoci commented on #103
@devopstales with this kind of information it is not possible to tell what is wrong with the configuration.
Are there any policies that deny connections?

[2022-08-24 16:18] pierluigilenoci commented on #104
@albert0815 in my opinion the `secrets` should be injected into the pods via some mechanism (ie CSI driver) directly from vaults/secrets managers.

Unfortunately, to my knowledge, there is no way to do the same with `configMaps`.
So, to date, I don't have the perfect solution to suggest.

@JoelSpeed @NickMeves what do you think about that?

[2022-08-30 12:25] #13 closed

[2022-08-30 12:26] pierluigilenoci commented on #38
@holmesb any news on this?

[2022-08-30 12:29] pierluigilenoci commented on #38
Fixed with #50

[2022-08-30 12:29] #38 closed

[2022-08-30 12:30] pierluigilenoci commented on #70
@SeWieland what about this idea?

[2022-08-30 12:32] pierluigilenoci commented on #96
@artemiyokulov what about this?

[2022-08-31 20:36] JoelSpeed commented on #104
In the longer term we need to replace the secret values with a `SecretSource` which has an explicit option to get the secret data from an env var or file. If you wanted to raise a PR to change this in the code, then I'd be happy to review it, but it would be a breaking change to the alpha config, which I'm ok with at the moment, it's something we intend to do

[2022-08-31 20:45] JoelSpeed commented on #107
I've transferred this to the manifests repo as the helm chart maintainers are more likely to be able to help you than I am

[2022-09-01 03:50] lknite commented on #107
Please bear with me because I need to ask, the variables you have up above, are those just for us?  have you replaced them with the actual values in your helm chart?  TENANT_ID for example

[2022-09-01 08:17] pierluigilenoci commented on #104
So @albert0815 feel free to open a PR to solve this. 🚀

[2022-09-01 10:57] aarontavio commented on #104
Hi!

I think, you could solve the problem by using the `clientSecretFile` property of the [alpha configuration](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/alpha-config#provider) to specify a file containing the credentials. This file could be mounted into the container by using a kubernetes secret. Now there are multiple ways to handle kubernetes secrets in a proper way so that

[2022-09-06 15:13] kladiv commented on #101
+1
oauth2-proxy helm chart seems not accept multiple cookie-domain and multiple whitelist-domain

[2022-09-07 10:15] zethis commented on #101
You need to use config.configFile to do that.

Here an example:

[code]

[2022-09-07 16:21] pierluigilenoci commented on #101
@zethis would you like to do a PR to integrate documentation?

[2022-09-08 13:17] lathspell opened #108 "Redis subchart outdated"
The current Redis subchart points to a chart which uses Redis 6.2 although their latest version is 7.0.
(I have no specific reasons to want the 7.x version, just noticed that a couple of CVEs seems to be fixed in Redis meanwhile)

See
* https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/Chart.yaml
* https://github.com/bitnami/charts/blob/master/bitnami/redis/Chart.yaml
* https:/

[2022-09-08 15:10] pierluigilenoci commented on #108
@lathspell would you be kind enough to open a PR?

[2022-09-21 11:14] lathspell commented on #108
https://github.com/oauth2-proxy/manifests/pull/109

[2022-09-21 13:53] pierluigilenoci commented on #108
@lathspell thank you a lot. Your PR needs to be reworked a little.

[2022-09-23 13:55] deggja commented on #107
I'm experiencing this same issue. Any update on this?

[2022-10-06 06:51] dev-rowbot opened #110 "Pull from quay.io is failing"
Not sure if this is the right place to log this but my Kubernetes cluster cannot pull oauth2-proxy from quay.io this morning. I tried locally and I get this error:

[code]

This happens for all images. To get the helm-chart to work I changed to the bitnami image
[code]

[2022-10-06 10:20] EinarArnason opened #111 "Enabling alpha config gives error "decoding: * '' has invalid keys: upstreams""
I'm installing via helm using Keycloak with this config:

[code]

The log from the pod outputs:

[code]

Seems to me it is trying to use both configurations, or am I missing something?

[2022-10-06 10:45] jagan1333 opened #112 "Unable to pull any images"
Hi since yesterday images are not able to pull even locally and also in GKE/EKS.

$ docker pull quay.io/oauth2-proxy/oauth2-proxy:v7.2.0

Error response from daemon: error parsing HTTP 404 response body: invalid character '<' looking for beginning of value: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<title>404 Not Found</title>\n<h1>Not Found</h1>\n<p>The requested URL was not fou

[2022-10-06 12:14] pierluigilenoci commented on #110
Duplicated of https://github.com/oauth2-proxy/oauth2-proxy/issues/1816

[2022-10-06 12:14] #110 closed

[2022-10-06 12:15] pierluigilenoci commented on #110
Duplicated of https://github.com/oauth2-proxy/oauth2-proxy/issues/1816

[2022-10-06 12:15] pierluigilenoci commented on #112
Duplicate of https://github.com/oauth2-proxy/oauth2-proxy/issues/1816

[2022-10-13 07:56] pierluigilenoci commented on #111
@EinarArnason the error you are showing is due to the file generated by this template:
https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/templates/configmap.yaml

So from these lines:
https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/values.yaml#L34-L36

According to the documentation, `upstream` is not a valid option with alpha config.

Try removing this de

[2022-10-14 16:14] EinarArnason commented on #111
I just removed the `- --config=/etc/oauth2_proxy/oauth2_proxy.conf` line from the deployment config and then it worked fine. Was the alpha config not supposed to replace the original config?

[2022-10-17 12:03] pierluigilenoci commented on #111
Nope.
https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/templates/deployment.yaml#L200-L209

[2022-10-17 12:52] pierluigilenoci commented on #96
@artemiyokulov any update on this?

[2022-10-17 12:52] pierluigilenoci commented on #98
@newhorizs any update on this?

[2022-10-17 12:52] pierluigilenoci commented on #101
@zethis any update on this?

[2022-10-17 12:52] pierluigilenoci commented on #103
@devopstales any update on this?

[2022-10-17 12:54] pierluigilenoci commented on #111
@EinarArnason can this issue then be closed?

[2022-10-17 13:26] #111 closed

[2022-10-18 06:32] devopstales commented on #103
@pierluigilenoci  I use cilium for my networking and this is all of my policies. Logically for me what is not allowed that is blocked. So anything other than this is blocked. I didn't know how oauth2-proxy works in the low level. I created this policies with best of my knowledge. I think main problem is the  helm chart lacks network policies.

[2022-10-18 08:12] SeWieland commented on #70
Hi @pierluigilenoci, sorry for not responding!
I actually stopped using oauth2-proxy in our deployments - mainly due to https://github.com/oauth2-proxy/oauth2-proxy/issues/884... Due to limited time I'm currently not available for any PR on this issue.
In regards to artifacthub - I never really used it anyways as I prefer to retrieve information about charts at the location of their source code.
T

[2022-10-18 12:10] pierluigilenoci commented on #103
@devopstales let me make a premise: the Network Policies are completely external to the software and therefore not dependent on the software itself or on how it is installed.

For this reason, OAuth2-Proxy is capable of working with NetworkPolicy configured within clusters.
Or if they are not.

NPs only change the way traffic enters and exits the pod.
Obviously, if the NPs block traffic in some wa

[2022-10-18 12:17] pierluigilenoci commented on #103
Small addendum for labels: the label `app.kubernetes.io/instance` could lead to problems related to the fact that it is connected to the `.Release.Name` of the chart and therefore is subject to change.

I suggest using these:
[code]

[2022-10-18 12:20] pierluigilenoci commented on #70
@SeWieland thank you for your feedback.

[2022-10-18 14:49] newhorizs commented on #98
@pierluigilenoci Sorry, I still don't have any further investigation on this.

[2022-10-18 16:46] devopstales commented on #103
@pierluigilenoci Dose not mater what application we are talking about, If the application cannot connect where it need to, it wont work. You can not expect the end user to understand  the app as those who created them. That is why most application's chart contains basic NPs, to grantee the correct working, or at least grantee the app will start. What can a user do if the app didn't started? Read t

[2022-10-19 17:18] pierluigilenoci commented on #103
@devopstales let's start by specifying that I'm not one of the OAuth2-Proxy developers but only one of the Chart maintainers.
The developers can be found here: https://github.com/oauth2-proxy/oauth2-proxy

Furthermore, this is an open-source project and any responsibility for the project lies with the entire community, certainly not only with those who develop it.
Developers are usually just peopl

[2022-10-21 13:08] alexbde opened #115 "Read redis sentinel password from same key as redis password"
We're using the oauth2-proxy with a redis with activated sentinel. It's a default redis from the popular [bitnami redis chart](https://artifacthub.io/packages/helm/bitnami/redis).

To use the secret created by redis, we set `sessionStorage.redis.existingSecret` to the name of the existing secret. This is working for the redis password, because oauth2-proxy is expecting bitnami redis to provide a s

[2022-10-21 14:20] pierluigilenoci commented on #115
Hi @alexbde do you use the Redis chart in the OAuth2-Proxy chart or do you configure it with a separate chart?
Because using the integrated one makes things a lot easier to set up.

However, an easy way to do what you need should be to put the credentials in an external secret and use it on both sides.

OAuth Proxy side:
[code]
Redis side:
[code]

And then:
[code]

Maybe I didn't understand your p

[2022-10-21 14:24] pierluigilenoci commented on #115
Ok, now I understand.
Yes, it makes sense to create a new parameter inside `values.yaml`. 🤣

[2022-10-21 14:44] alexbde commented on #115
Thank you for the super fast answer!

Using a shared secret would be an option, sure. Though, we like to use the secret provided by the bitnami redis, because it is somehow considered the leading system here.

Adding a config option like `existingSecretPasswordKey` seems a very good solution to me :)

I'll send a PR next week 👍

Btw.: from the documentation / default values (at artifact hub though

[2022-10-25 15:17] alexbde commented on #115
@pierluigilenoci I created the PR #116 which allows to set `sessionStorage.redis.sentinel.passwordKey: "redis-password"` to fix this issue. Just comment if you like me to adjust anything.

[2022-11-03 20:10] sajithvasu opened #119 "Update latest appversion 7.4.0"
Hi There!
Latest version of app 7.4.0 is available. Please update the manifest so we can use it.

[2022-11-10 19:30] sajithvasu commented on #119
Any update? It is still showing 7.3.0

[2022-11-14 13:03] #115 closed

[2022-11-15 16:17] pierluigilenoci commented on #119
@sajithvasu feel free to open a PR for that.